<section class="block container">
  <header class="block__header">
    <h2>Host on the Cloud to Keep Growing</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio pariatur ex
      voluptatum quo.
    </p>
  </header>
  <article class="block-feature grid grid--1X2">
    <div class="block-feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xLink:href="images/sprite.svg#easy"></use>
        </svg>
      </div>
      <h3 class="block-feature__heading">Super Easy to Use</h3>
      <p class="block-feature__para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        aperiam nam corrupti vero sit. Lorem ipsum dolor sit amet.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="block-feature__image" src="images/easy.jpg" alt="" />
  </article>
  <article class="block-feature grid grid--1X2 container">
    <div class="block-feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xLink:href="images/sprite.svg#computer"></use>
        </svg>
      </div>
      <h3 class="block-feature__heading">Simply fast Websites</h3>
      <p class="block-feature__para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        aperiam nam corrupti vero sit. Lorem ipsum dolor sit amet.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="block-feature__image" src="images/fast.jpg" alt="" />
  </article>
  <article class="block-feature grid grid--1X2 container">
    <div class="block-feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xLink:href="images/sprite.svg#wordpress"></use>
        </svg>
      </div>
      <h3 class="block-feature__heading">Wordpres Made Easy</h3>
      <p class="block-feature__para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        aperiam nam corrupti vero sit. Lorem ipsum dolor sit amet.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="block-feature__image" src="images/wordpress.jpg" alt="" />
  </article>
  <article class="block-feature grid grid--1X2 container">
    <div class="block-feature__content">
      <div class="icon-container">
        <svg class="icon icon--primary">
          <use xLink:href="images/sprite.svg#clock"></use>
        </svg>
      </div>
      <h3 class="block-feature__heading">24/7 Expert Support</h3>
      <p class="block-feature__para">
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Similique
        aperiam nam corrupti vero sit. Lorem ipsum dolor sit amet.
      </p>
      <a href="#" class="link-arrow">Learn More</a>
    </div>
    <img class="block-feature__image" src="images/support.jpg" alt="" />
  </article>
</section>
